.button {
	-fx-text-fill: #fdfdfd;
	-fx-min-width: 90px;
	-fx-min-height: 28px;
	-fx-pref-height: 28px;
	-fx-max-height: 28px;
	-fx-font-size: 14px;
	-fx-font-weight: 500;
}

.btn-ok {
	-fx-background-color: #57936F;
	-fx-graphic: url("/images/btn-ok.png");
	-fx-alignment: baseline-left;
}

.btn-ok:hover {
	-fx-background-color: #447357;
	-fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.3), 12, 0, 3px, 8px);	
}

.btn-cancel {
	-fx-background-color: #9f0000;
	-fx-graphic: url("/images/btn-cancel.png");
	-fx-alignment: baseline-left;
}

.btn-cancel:hover {
	-fx-background-color: #770000;
	-fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.3), 12, 0, 3px, 8px);	
}