.background {
	-fx-background-color: #1E4147;
}

.label {
	-fx-min-height: 28px;
	-fx-pref-height: 28px;
	-fx-max-height: 28px;
	-fx-font-size: 20px;
	-fx-text-fill: #fefefe;
	-fx-font-family: 'Roboto', sans-serif;
}

.warning-background {
	-fx-background-color: #ffcc00;
}
.warning-label {
	-fx-text-fill: #333;
}

.error-background {
	-fx-background-color: #cc3300;
}

.password-background {
	-fx-background-color: #ff9966;
}

.password-label {
	-fx-text-fill: #333;
}