.label {
	-fx-font-family: 'Comic Sans MS', sans-serif;	
}
.heading {
	-fx-font-size: 26px;
	-fx-font-weight: bold;
}

.label-name {
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}

.label-email {
	-fx-font-size: 14px;
	-fx-font-weight: bold;
}