.lblDeleteContacts {
	-fx-min-height: 20px;
	-fx-pref-height: 20px;
	-fx-max-height: 20px;
	-fx-font-size: 15px;
	-fx-font-weight: bold;
}

.btnDeleteContact {
    -fx-graphic: url("/images/deleteContact.png");
    -fx-alignment: baseline-left;
}