.lbl-as-button {
	-fx-min-height: 32px;
	-fx-pref-height: 32px;
	-fx-max-height: 32px;
	-fx-min-width: 120px;
	-fx-pref-width: 120px;
	-fx-background-radius: 3px;
}

.lbl-as-button-forgotPass:hover {
	-fx-background-color: #5B6A97;
    -fx-text-fill: #fdfdfd;
  	-fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.3), 12, 0, 3px, 8px);
  	-fx-graphic: url("/images/forgotPassword.png");
  	-fx-pref-width: 160px;
}

.lbl-as-button-newUser:hover {
	-fx-background-color: #5B6A97;
    -fx-text-fill: #fdfdfd;
  	-fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.3), 12, 0, 3px, 8px);
  	-fx-graphic: url("/images/registration.png");
   	-fx-pref-width: 160px;
}


#heading {
	-fx-text-fill: linear-gradient(#e0f2f1, #80cbc4);
	-fx-font-size: 50px;
	-fx-font-weight: bold;
	-fx-font-family: 'Comic Sans MS' sans-serif;
	-fx-effect: dropshadow(three-pass-box, #333, 10, 0, 5px, 5px);
}

#subtitle {
	-fx-text-fill: linear-gradient(#a7ffeb, #64ffda);
	-fx-font-size: 24px;
	-fx-font-family: 'Purisa', sans-serif;
	-fx-effect: dropshadow(three-pass-box, #333, 10, 0, 5px, 5px);	
}

.btnSignIn {
	-fx-graphic: url("/images/signin.png");
    -fx-alignment: baseline-left;
}