.button {
	-fx-background-color: #5B6A97;
	-fx-text-fill: #fdfdfd;
	-fx-min-width: 100px;
	-fx-min-height: 32px;
	-fx-pref-height: 32px;
	-fx-max-height: 32px;
	-fx-font-size: 14px;
	-fx-font-weight: 500;
}

.button:hover {
	-fx-background-color: #40579A;
	-fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.3), 12, 0, 3px, 8px);
}

.btn-cancel {
	-fx-background-color: #9f0000;
	-fx-graphic: url("/images/btn-cancel.png");
	-fx-alignment: baseline-left;
}

.btn-cancel:hover {
	-fx-background-color: #770000;
	-fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.3), 12, 0, 3px, 8px);	
}