.menu-bar {
	-fx-background-color: #232E7B;
}

.menu .label {
	-fx-text-fill: #fdfdfd;
	-fx-label-padding: 0px 5px 0px 5px;
}

.menu-item .label {
	-fx-text-fill: black;
}

.menu-item:focused {
     -fx-background-color: #0096C9;
}

.menu-item:focused .label {
    -fx-text-fill: fdfdfd;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
/*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

.mnuDashboard > .label{
    -fx-graphic: url("/images/dashboard.png");
}

.mnuAddNewContact > .label{
    -fx-graphic: url("/images/addNewContact.png");
}

.mnuContactsList > .label{
    -fx-graphic: url("/images/contactsList.png");
}

.mnuDeleteContact > .label{
    -fx-graphic: url("/images/deleteContact.png");
}

.mnuSignOut > .label{
    -fx-graphic: url("/images/signOut.png");
}

.mnuSystemSettings > .label{
    -fx-graphic: url("/images/systemSettings.png");
}

.mnAboutDeveloper > .label{
    -fx-graphic: url("/images/aboutDeveloper.png");
}

.mnuBackupAndRestore > .label {
	-fx-graphic: url("/images/aboutDeveloper.png");
}